.brand-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 25px;
}

.brand-box{
    width: 200px;
    height: 200px;
    border: 2px solid rgb(233, 233, 233);
    border-radius: 100px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
