.delivery-btn{
    border: 1px solid rgb(182, 196, 202);
    border-radius: 5px;
    color: #fafafa;
    background-color:#47bcd4;
    font-weight: 700;
    padding: 5px;
}
.input-btn{
    border: 1px solid rgb(182, 196, 202);
    border-radius: 5px;
    color: #fafafa;
    background-color: rgb(59, 206, 145);
    font-weight: 700;
    padding: 5px;
}

.input{
    margin-top: 10px;
    width: 150px;
    padding: 5px;
    border: 1px dashed slateblue;
}